
<div class="article-bg">
 <%= render 'layouts/messages'%>
<%# <div class="float-right"> %>
  <h1 class="text-center text-white" style="margin-top: 60px;">Listing all Articles</h1>
  
   
  <%= render 'article' %>

  <%# </div> %>
  <div class="flickr_pagination mt-4 mb-4">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>

