@import 'bootstrap/dist/css/bootstrap';

.navbar {
    background-color: #42a3af !important;
    min-height: 70px;
    // width: auto;
    // position: fixed;
    color: whitesmoke;
}
.nav-link{
  color: #ececec !important;
  font-size: 20px;
  font-weight: bold;
}
.dropdown-item{
  color: #0e0d0d !important;
}
#logo {
    float: left;
    font-size: 25px;
    color: rgb(8, 8, 8);
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
     
}
#home-container{
    // margin-top: 25px;
}
.jumbotron{
    background-image: asset-url('ex2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 425px;
    opacity: 1;

}
html,
body {
  height: 100%;

}
#page-content {
  flex: 1 0 auto;
  // background-color: lightgrey;
  // background-image: asset-url('alpha.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#sticky_footer{
  flex-shrink: none;
}
.bg{
    height: 450px;
    background-image: asset-url('sp.jpg');
    background-position: center;
    background-repeat: no-repeat;
    
    background-size: cover;
    opacity: 1;
}
.bg1{
  //  background-color: lightpink;
  height: 180px;
  width: 180px;
}
.profileImage {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: #114b67;
  font-size: 45px;
  color: #fff;
  text-align: center;
  line-height: 180px;
  margin: auto;
}
.profileImage1 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #114b67;
  font-size: 45px;
  color: #fff;
  text-align: center;
  line-height: 100px;
  margin: auto;
  text-decoration: none;
}
.div_a a:link{
  text-decoration: none;
}
.bg2{
  background-color: #32474e45;
  border: 2px solid;
  border-color: white;
}

.bg-1{
  background-color: rgba(83, 83, 83, 0.164);
}

.one{
  background-image: asset-url('sp.jpg');
  background-position: center;
  background-repeat: no-repeat;
  
  background-size: cover;
}
.users-bg{
  background-image: asset-url('net.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // margin: auto;
  // margin-top: 20px;
  // width: 1200px;
  // height: 720px;
  overflow: auto;
}
.article-bg{
  background-image: asset-url('article1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  // margin: auto;
  // margin-top: 20px;
  // width: 1200px;
  height: 830px;
  overflow: auto;
}
.new-bg{
  background-image: asset-url('key.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 830px;
}
.footer-bg {
  background-color: black;
}
.user-show{
  background-image: asset-url('ex1.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 830px;
  overflow: auto;
}
.card-1{
  box-shadow: 0px 0px 0px rgb(97, 165, 162);
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px rgb(97, 165, 162);
}
.card-1:hover{
  box-shadow: 1px 8px 20px rgb(156, 242, 245);
  -webkit-transition:  box-shadow .6s ease-in;
}
.card-2{
  background-color: #cec1ef24;
  border: 2px solid;
  border-color: #8fced6;
  box-shadow: 0px 0px 0px rgb(97, 165, 162);
  -webkit-transition:  box-shadow .6s ease-out;
     box-shadow: .8px .9px 3px rgb(97, 165, 162);

}
.card-2:hover{
  box-shadow: 1px 8px 20px rgb(156, 242, 245);
  -webkit-transition:  box-shadow .6s ease-in;
}


.edit-bg{
  background-image: asset-url('key.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 830px;
}