<div class="new-bg">
 
  <h1 class="text-center text-white mt-5 mb-4">Edit Category</h1>
  <div class="container">
  
  <div class="row justify-content-center">
    <div class="col-8">
      <%= render 'form' %>
    </div>
    
  </div>
  <%= link_to '[ cancel or return to category ]', category_path(@category), class: " row justify-content-center text-info h4" %>
</div>
</div>