<footer id="sticky_footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "W3Schools", "https://www.w3schools.com/", class:"text-white" %></small>
    </div>
</footer>