<footer id="sticky_footer" class="py-4 footer-bg fixed-bottom text-dark-50">
    <div class="container text-center">
        <small>Copyright &copy; <%= link_to "W3Schools", "https://www.w3schools.com/", class:"text-info" %></small>
    </div>
</footer>